# <span style="color:#130654; font-family: Helvetica; font-size: 200%; font-weight:700"> Pandas | <span style="font-size: 50%; font-weight:300">Data Structures</span>

To use pandas in python import it first by using the following command:

In [1]:
# import pandas
import pandas as pd

# import other libraries here
import numpy as np

## <span style="color:#130654">Data Structures</span>

- Pandas deals with 3 data structures that are <u>built on Numpy array</u> (which means they are fast).
- Higher dimensional data structure is a container of its lower dimensional data structure. 

|Data Structure |Dimension |Data Type   |Size      |Data     |
|:-------------:|----------|------------|----------|---------|
|**Series**     |1D        |<span style="color:red">Homogeneous</span> |<span style="color:red">Immutable</span>|Mutable  |
|**DataFrame**  |2D        |Hetrogeneous|Mutable   |Mutable  |
|**Panel**      |3D        |Hetrogeneous|Mutable   |Mutable  |

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

- Panel, container of:
    - DataFrame, container of:
            - Series

<div style="text-align:center">
    <img src="../img/pandas-data-structures.png" width="620" height="620"/>
</div>

-------------

### <span style="color:#130654">A. Series</span>

- Series is a one-dimensional labeled array.
- The axis labels are collectively called index.
- A series can be created using `array`, `dict`, `scalar`.

*Syntax:*
```python
pandas.Series( data, index, dtype, copy)
```

| Parameters | Details                                                      |
| :--------: | ------------------------------------------------------------ |
|  **data**  | Takes various forms like ndarray, list, constants            |
| **index**  | Index values must be unique and hashable, same length as data. Default **np.arrange(n)** if no index is passed. |
| **dtype**  | dtype is for data type. If None, data type will be inferred  |
|  **copy**  | Copy data. Default False                                     |

#### <span style="color:#130654">Creating Series</span>

**1. Empty Series**

In [2]:
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-2-893de6a9497a>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

**2. Using ndarray**

In [3]:
data = np.array(['a','b','c','d'])

# without defining index
s_noindex = pd.Series(data)

# with defining index
index = [100, 101, 102, 103] # creating index variable
s_index = pd.Series(data, index=index) # assiging index variable to index parameter

print("Without index:")
print(s_noindex)
print("\n")
print("with index:")
print(s_index)
print("\n")
print("If no index is passed then by default index is assigned ranging from '0' to 'len(data)-1' ")

Without index:
0    a
1    b
2    c
3    d
dtype: object


with index:
100    a
101    b
102    c
103    d
dtype: object


If no index is passed then by default index is assigned ranging from '0' to 'len(data)-1'

**3. Using dict**

In [4]:
data = {'a' : 0, 'b' : 1, 'c' : 2}

# without defining index
s_noindex = pd.Series(data, dtype="float64")

# with defining index
index = ['b','c','d','a']
s_index = pd.Series(data, index=index, dtype="float64")

print("Without index:")
print(s_noindex)
print("\n")
print("with index:")
print(s_index)

Without index:
a    0.0
b    1.0
c    2.0
dtype: float64


with index:
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

- <span style="color:#130654">Dictionary keys are used to construct index.</span>
- If no index is passed then by default order of index will be order of keys in dictionary.
- If there is any index which is not subset of key then its value will be `NaN` equivalent to *Null*.

**4. Using scalar**

In [5]:
s = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

#### <span style="color:#130654">Accessing / Retreiving values</span>

**1. By Indexing**

<div style="text-align:center"><img src="../img/python-slicing.png"/></div>

<span style="color:green; font-family: Helvetica;">
    Note: if length of series is n then Indexing in python starts from 0 and ends on n-1.
</span>

- <span style="color:#130654">**0 = absolute first index**</span>
- A = initial indexing position
- N = last indexing position
- X = any indexing position
- <span style="color:#130654">**n-1 = absolute last index**</span>

|Indexing|Return|
|:------:|------|
|**series[X]**|Xth value in the list|
|**series[A:]**|All values starting from to A to n-1.|
|**series[A:N]**|All values between A and N-1|
|**series[:N]**|All values starting from index 0 to N-1|
|**series[-A:]**|All values except from 0 to A|
|**series[:-N]**|All values except from N to n-1|

*Examples:*

In [6]:
series = pd.Series(['a','b','c','d','e'])

In [7]:
# Return xth value
series[2]

'c'

In [8]:
# Return from A to N
series[2:]

2    c
3    d
4    e
dtype: object

In [9]:
# Return values between A to n-1 index
series[2:4]

2    c
3    d
dtype: object

In [10]:
# Return values from 0 index to n-1 index
series[:3]

0    a
1    b
2    c
dtype: object

In [11]:
# Return all values after A till n-1
series[-2:]

3    d
4    e
dtype: object

In [12]:
# Return all values before N till n-1
series[:-2]

0    a
1    b
2    c
dtype: object

**2. By Label**

A Series is like a fixed-size dict in that you can get and set values by index label.

In [13]:
series = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [14]:
#single value
series['c']

3

In [15]:
# multiple sequential / non sequential values
series[['a','c','e']]

a    1
c    3
e    5
dtype: int64

<span style="color:green; font-family: Helvetica;">Note: Always use extra "[]" if retreiving multiple values.</span>

-------------

## <span style="color:#130654">B. DataFrame</span>

- It is a two-dimensional data structure (data is aligined in tabular row and column fashion).
- It is size and value mutable.
- Potentially columns are of different types.
- Labeled axes (rows and columns).
- <span style="color:#130654">Arithmetic operations on rows and columns.</span>

*Syntax:*
```python
pandas.DataFrame( data, index, columns, dtype, copy)
```

| Parameters | Details                                                      |
| :--------: | ------------------------------------------------------------ |
|  **data**  | Takes various forms like ndarray, list, constants            |
| **index**  | Index values must be unique and hashable, same length as data. Default **np.arrange(n)** if no index is passed. |
|**columns**|For column labels, the optional default syntax is - np.arange(n). This is only true if no index is passed.|
| **dtype**  | dtype is for data type. If None, data type will be inferred  |
|  **copy**  | Copy data. Default False                                     |

#### <span style="color:#130654">Creating DataFrame</span>

**1. Empty DataFrame**

To create an empty DataFrame just run the DataFrame() method.

In [16]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

**2. Using List**

In [17]:
# using simple list
simple_list = [1,2,3,4,5]
df_simple_list = pd.DataFrame(simple_list, columns=["Column 1"])
print("DataFrame using simple list:")
print(df_simple_list)

# using nested list
nest_list = [['Alex',10],['Bob',12],['Clarke',13]]
df_nest_list = pd.DataFrame(nest_list,columns=['Name','Age'])
print("\nDataFrame using nested list:")
print(df_nest_list)

DataFrame using simple list:
   Column 1
0         1
1         2
2         3
3         4
4         5

DataFrame using nested list:
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

**3. Using Dict of ndarrays / Lists**

In [18]:
dict_ndarray = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df_ndarray = pd.DataFrame(dict_ndarray)
df_ndarray

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

**4. Using List of Dicts**

In [19]:
list_dicts = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df_list_dicts = pd.DataFrame(list_dicts, columns=['a','b','c','d'])
df_list_dicts

   a   b     c   d
0  1   2   NaN NaN
1  5  10  20.0 NaN

<span style="color:green; font-family: Helvetica;">
    <strong>Note</strong>:
        <ul>
            <li>Observe, NaN (Not a Number) is appended in missing areas.</li>
            <li>If column index is created with other than the dictionary key, then it will return <strong>NaN</strong>.</li>
        </ul> 
</span>

**5. Using Dict of Series**

In [20]:
dict_series = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df_dict_series = pd.DataFrame(dict_series)
df_dict_series

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

<span style="color:green; font-family: Helvetica;">
    <strong>Note</strong>: Creating dataframe with multiple series of uneven length, then dataframe will be created for longest series with appending <strong>NaN</strong> for subsequent indexs for smaller series.
</span>

#### <span style="color:#130654">Copying DataFrame</span>

Extra care should be taken while assiging and copying a dataframe to another variable. Both assiging `=` and copying `cop()` methods for dataframe behaves diffrently in pandas.

Assign dataframe `df` to a variable `df_assign`:

In [63]:
df_assign = df

In [69]:
# Check the object ID for new dataframe and original dataframe using id() funtion.
print("Object ID for df         : ",id(df))
print("Object ID for df_assign  : ",id(df_assign))

Object ID for df         :  1764144506528
Object ID for df_assign  :  1764144506528

Object ID for both `df` and `df_assign` are same which means both dataframes are sharing / refering to same object in the memory.

Copy the original dataframe to new variable `df_copy`:

In [70]:
df_copy = df.copy()

In [71]:
# Check the object ID for new dataframe and original dataframe using id() funtion.
print("Object ID for df       : ",id(df))
print("Object ID for df_copy  : ",id(df_copy))

Object ID for df       :  1764144506528
Object ID for df_copy  :  1764160033408

Object ID for both `df` and `df_copy` are different which means, although the values and everything for both dataframes are exaclty same but they are refering to different objects in the memory.

<span style="color:green">Conclusion:</span>
- If we assign dataframe to new variable then any changes made to new variables will reflect in original dataframe as they are basically sharing same object in the memory.
- In case of dataframe using `copy()` method, changes to new dataframe won't reflect in orginal dataframe as both have different object ID.

-------------

## <span style="color:#130654">C. Panel</span>

### <span style="color: Red; font-family: Helvetica; font-size: 125%; font-weight:700"> Warning: </span> Panel was removed in 0.25.0.

- `Panel` is a 3D container of data
- The term panel data originates from somewhere in econometrics
- The names for the 3 axes are intended to give some semantic meaning to describing operations involving panel data

*Syntax:*
```python
pandas.Panel(data, items, major_axis, minor_axis, dtype, copy)
```

|Param|Details|
|:----:|------|
|**data**| Data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.|
|<span style="color:red">**items**</span>| `axis 0`, each item corresponds to a DataFrame contained inside.|
|<span style="color:red">**major_axis**</span>| `axis 1`, it is the index (rows) of each of the DataFrames. |
|<span style="color:red">**minor_axis**</span>| `axis 2`, it is the columns of each of the DataFrames. |
|**dtype**| Data type of each column. |
|**copy**| Copy data. Default, false. |