# <span style="color:#130654; font-family: Helvetica; font-size: 200%; font-weight:700"> Pandas | <span style="font-size: 50%; font-weight:300">Functionality</span>

To use pandas in python import it first by using the following command:

In [1]:
# import pandas
import pandas as pd

# import other libraries here
import numpy as np

## <span style="color:#130654">Basic Funcationality</span>

| Functionality | Series                          | DataFerame        |
| :-----------: | --------------------------------| ------------------|
| **T**         | <span style="color:red">Does nothing for series.</span> | Transposes rows and columns. |
| **axes**      | Returns a list of the row axis labels. | Returns a list with the row axis labels and column axis labels as the only members. |
| **dtypes**    | Returns the dtype/dtypes of series.| Returns the dtypes in this object.                           |
| **empty**     | Returns True if series is empty.| True if NDFrame is entirely empty [no items]; if any of the axes are of length 0. |
| **ndim**      | Returns the number of dimensions of the underlying data, by definition 1. | Number of axes / array dimensions. |
| **shape**     | <span style="color:red">Return number of rows.</span> | Returns a tuple representing the dimensionality of the DataFrame. |
| **size**      | <span style="color:red">Return number of rows.</span>  | Number of elements in the NDFrame.|
| **values**    | Returns the Series as ndarray.| Numpy representation of NDFrame.|
| **head()**    | Returns the first n rows.| Returns the first n rows.|
| **tail()**    | Returns the last n rows. | Returns last n rows.|

*Examples:*

Let's start with creating a `series` and a `dataframe`:

In [2]:
# creating a series
series = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print("Created series is:\n", series, "\n")

# creating a dataframe
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
        'three' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])}

df = pd.DataFrame(data, dtype="int64")
print("Created dataframe is:\n", df)

Created series is:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

Created dataframe is:
    one  two  three
a  1.0  1.0      1
b  2.0  2.0      2
c  3.0  3.0      3
d  NaN  4.0      4
e  NaN  NaN      5

Functions common for both Series and DataFrame:tail

In [3]:
# 1. axes

s = series.axes
print("Series axes:\n", s, "\n")

d = df.axes
print("DataFrame axes:\n", d)

Series axes:
 [Index(['a', 'b', 'c', 'd', 'e'], dtype='object')]

DataFrame axes:
 [Index(['a', 'b', 'c', 'd', 'e'], dtype='object'), Index(['one', 'two', 'three'], dtype='object')]

In [4]:
# 2. dtypes
# for series both `dtype` and `dtypes` will work, for dataframe only `dtypes` work

s = series.dtypes
print("Series dtype:\n", s, "\n")

d = df.dtypes
print("DataFrame dtype:\n", d)

Series dtype:
 int64

DataFrame dtype:
 one      float64
two      float64
three      int64
dtype: object

##### Common dtypes in Pandas

|**Pandas dtype**|Python type|NumPy type|Usage|
|:-------------------:|-------------------|-------------------|-------------------|
|**object**|str or mixed|string_, unicode_, mixed types|Text or mixed numeric and non-numeric values|
|**int64**|int|int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64|Integer numbers|
|**float64**|float|float_, float16, float32, float64|Floating point numbers|
|**bool**|bool|bool_|True/False values|
|**datetime64**|<span style="color:red">NA</span>|datetime64[ns]|Date and time values|
|**timedelta[ns]**|<span style="color:red">NA</span>|<span style="color:red">NA</span>|Differences between two datetimes|
|**category**|<span style="color:red">NA</span>|<span style="color:red">NA</span>|Finite list of text values|

In [5]:
# 3. empty

s = series.empty
print("Series empty:\n", s, "\n")

d = df.empty
print("DataFrame empty:\n", d)

Series empty:
 False

DataFrame empty:
 False

In [6]:
# 4. ndim

s = series.ndim
print("Series ndim:\n", s, "\n")

d = df.ndim
print("DataFrame ndim:\n", d)

Series ndim:
 1

DataFrame ndim:
 2

In [7]:
# 5. shape
# shape is represented as (# of rows, # of columns)
# series doesn't have columns

s = series.shape
print("Series shape:\n", s, "\n")

d = df.shape
print("DataFrame shape:\n", d)

Series shape:
 (5,)

DataFrame shape:
 (5, 3)

In [8]:
# 6. size
# size is represented as (# of rows x # of columns)
# series doesn't have columns


s = series.size
print("Series size:\n", s, "\n")

d = df.size
print("DataFrame size:\n", d)

Series size:
 5

DataFrame size:
 15

In [9]:
# 7. values

s = series.values
print("Series values:\n", s, "\n")

d = df.values
print("DataFrame values:\n", d)

Series values:
 [1 2 3 4 5]

DataFrame values:
 [[ 1.  1.  1.]
 [ 2.  2.  2.]
 [ 3.  3.  3.]
 [nan  4.  4.]
 [nan nan  5.]]

In [10]:
# 8. head()

s = series.head(2)
print("Series head:\n", s, "\n")

d = df.head(2)
print("DataFrame head:\n", d)

Series head:
 a    1
b    2
dtype: int64

DataFrame head:
    one  two  three
a  1.0  1.0      1
b  2.0  2.0      2

In [11]:
# 9. tail()

s = series.tail(2)
print("Series head:\n", s, "\n")

d = df.tail(2)
print("DataFrame head:\n", d)

Series head:
 d    4
e    5
dtype: int64

DataFrame head:
    one  two  three
d  NaN  4.0      4
e  NaN  NaN      5

In [12]:
# 10. T or Transpose

s = series.T
print("Series Transpose:\n", s, "\n")

d = df.T
print("DataFrame Transpose:\n", d)

Series Transpose:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

DataFrame Transpose:
          a    b    c    d    e
one    1.0  2.0  3.0  NaN  NaN
two    1.0  2.0  3.0  4.0  NaN
three  1.0  2.0  3.0  4.0  5.0