# <span style="color:#130654; font-family: Helvetica; font-size: 200%; font-weight:700"> Pandas | <span style="font-size: 50%; font-weight:300">Window Functions</span>

Window functions allow us to perform an operation with a given row’s data and data from another row that is a specified number of rows away — this “number of rows away value” is called the window.

To use pandas in python import it first by using the following command:

In [26]:
# import pandas
import pandas as pd

# import other libraries here
import numpy as np

<br>

### <span style="color:#130654">Create DataFrame</span>

In [27]:
df = pd.DataFrame({'Q': [3, 2, 4, np.nan, 6]})
df

     Q
0  3.0
1  2.0
2  4.0
3  NaN
4  6.0

<br>

### <span style="color:#130654">rolling()</span>

The `rolling()` function is used to provide rolling window calculations.

<img src="./img/window-func1.jpeg" />

*Syntax:*
```python
Series.rolling(self, window, min_periods=None, center=False, win_type=None, on=None, axis=0, closed=None)
```

|      Name       | Description                                                  | Type           | Required |
| :-------------: | :----------------------------------------------------------- | :------------- | :------- |
|   **window**    | Size of the moving window. This is the number of observations used for calculating the statistic. Each window will be a fixed size. <br> If its an offset then this will be the time period of each window. | int, or offset | Required |
| **min_periods** | Minimum number of observations in window required to have a value (otherwise result is NA). For a window that is specified by an offset, min_periods will default to 1. Otherwise, min_periods will default to the size of the window. | int            | Required |
|   **center**    | Set the labels at the center of the window.                  | bool           | Required |
|  **win_type**   | Provide a window type. If None, all points are evenly weighted. | str            | Required |
|     **on**      | For a DataFrame, a datetime-like column on which to calculate the rolling window, rather than the DataFrame’s index. Provided integer column is ignored and excluded from result since an integer index is not used to calculate the rolling window. | str            | Optional |
|    **axis**     |                                                              | int or str     | Required |
|   **closed**    | Make the interval closed on the ‘right’, ‘left’, ‘both’ or ‘neither’ endpoints. For offset-based windows, it defaults to ‘right’. | str            | Required |

*Returns:*
> a Window or Rolling sub-classed for the particular operation

In [11]:
df

     Q
0  3.0
1  2.0
2  4.0
3  NaN
4  6.0

In [12]:
df.rolling(2, win_type='boxcar').sum()

     Q
0  NaN
1  5.0
2  6.0
3  NaN
4  NaN

In [13]:
df.rolling(2, min_periods=1).sum()

     Q
0  3.0
1  5.0
2  6.0
3  4.0
4  6.0

<br>

Contrasting to an integer rolling window, this will roll a variable length window corresponding to the time period.
The default for min_periods is 1.

In [14]:
df_time = pd.DataFrame({'Q': [0, 2, 4, np.nan, 6]},
                  index = [pd.Timestamp('20190201 09:00:00'),
                           pd.Timestamp('20190201 09:00:02'),
                           pd.Timestamp('20190201 09:00:03'),
                           pd.Timestamp('20190201 09:00:05'),
                           pd.Timestamp('20190201 09:00:06')])
df_time

                       Q
2019-02-01 09:00:00  0.0
2019-02-01 09:00:02  2.0
2019-02-01 09:00:03  4.0
2019-02-01 09:00:05  NaN
2019-02-01 09:00:06  6.0

In [19]:
df_time.rolling('2s').sum()

                       Q
2019-02-01 09:00:00  0.0
2019-02-01 09:00:02  2.0
2019-02-01 09:00:03  6.0
2019-02-01 09:00:05  NaN
2019-02-01 09:00:06  6.0

<br>

### <span style="color:#130654">expanding()</span>

`expanding()` function is used to provide expanding transformations.

*Syntax:*
```python
Series.expanding(self, min_periods=1, center=False, axis=0)
```

|      Name       | Description                                                  | Type       | Required |
| :-------------: | :----------------------------------------------------------- | :--------- | :------- |
| **min_periods** | Minimum number of observations in window required to have a value (otherwise result is NA). | int        | Required |
|   **center**    | Set the labels at the center of the window.                  | bool       | Required |
|    **axis**     | If the axis is a MultiIndex (hierarchical), group by a particular level or levels. | int or str | Required |

*Returns:*
> a Window sub-classed for the particular operation

In [20]:
df.expanding(2).sum()

      Q
0   NaN
1   5.0
2   9.0
3   9.0
4  15.0

If we apply expanding from center of the indexes, then it will expand from center in both (up and down) direction.

In [22]:
df.expanding(2, center=True).sum()

      Q
0   9.0
1   9.0
2  15.0
3  12.0
4  10.0

<br>

### <span style="color:#130654">ewm()</span>

`ewm()` function is used to provide exponential weighted functions.

*Syntax:*
```python
Series.ewm(self, com=None, span=None, halflife=None, alpha=None, min_periods=0, adjust=True, ignore_na=False, axis=0)
```

|      Name       | Description                                                  | Type                              | Required |
| :-------------: | :----------------------------------------------------------- | :-------------------------------- | :------- |
|     **com**     | Specify decay in terms of center of mass, α=1/(1+com), for com≥0. | float                             | optional |
|    **span**     | Specify decay in terms of span, α=2/(span+1), for span≥1.    | float                             | Optional |
|  **halflife**   | Specify decay in terms of half-life, α=1−exp(log(0.5)/halflife),forhalflife>0. | float                             | Optional |
|    **alpha**    | Specify smoothing factor α directly, 0<α≤1                   | float                             | optional |
| **min_periods** | Minimum number of observations in window required to have a value (otherwise result is NA). | int                               | Required |
|   **adjust**    | Divide by decaying adjustment factor in beginning periods to account for imbalance in relative weightings (viewing EWMA as a moving average) | bool                              | Required |
|  **ignore_na**  | Ignore missing values when calculating weights               | bool                              | Required |
|    **axis**     | The axis to use. The value 0 identifies the rows, and 1 identifies the columns. | {{0 or ‘index’, 1 or ‘columns’} } | Required |

*Return:*
> A Window sub-classed for the particular operation.

<span style="color:green">Notes: Exactly one of center of mass, span, half-life, and alpha must be provided.</span>

In [24]:
df.ewm(com=0.3).mean()

          Q
0  3.000000
1  2.187500
2  3.599078
3  3.599078
4  5.846333