# <span style="color:#130654; font-family: Helvetica; font-size: 200%; font-weight:700"> Pandas | <span style="font-size: 50%; font-weight:300">Timedelta & Time Series</span>

<br>

To use pandas in python import it first by using the following command:

In [3]:
# import pandas
import pandas as pd

<br>

### <span style="color:#130654">date_range()</span>

`date_range()` function is used to get a fixed frequency DatetimeIndex.

`bdate_range()` stands for business date ranges. Unlike date_range(), it excludes Saturday and Sunday.

*Syntax:*
```python
pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)
```

|     Name      | Description                                                  | Type                    | Default | Required |
| :-----------: | :----------------------------------------------------------- | :---------------------- | ------- | :------- |
|   **start**   | Left bound for generating dates.                             | str or datetime-like    | None    | Optional |
|    **end**    | Right bound for generating dates.                            | str or datetime-like    | None    | Optional |
|  **periods**  | Number of periods to generate.                               | integer                 | None    | Optional |
|   **freq**    | Frequency strings can have multiples, e.g. ‘5H’.             | str or DateOffset       | 'D'     | Required |
|    **tz**     | Time zone name for returning localized DatetimeIndex, for example ‘Asia/Hong_Kong’. | str or tzinfo           | None    | Optional |
| **normalize** | Normalize start/end dates to midnight before generating date range. | bool                    | False   | Required |
|   **name**    | Name of the resulting DatetimeIndex.                         | str                     | None    | Required |
|  **closed**   | Make the interval closed with respect to the given frequency to the ‘left’, ‘right’, or both sides. | {None, ‘left’, ‘right’} | None    | Optional |
|   **kwargs    | For compatibility. Has no effect on the result.              |                         |         |          |

*Return:*
> rng - DatetimeIndex

In [15]:
pd.date_range(start='2/2/2019', end='2/08/2019')

DatetimeIndex(['2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08'],
              dtype='datetime64[ns]', freq='D')

Specify start and periods, the number of periods (days).

In [16]:
pd.date_range(start='2/2/2019', periods=8)

DatetimeIndex(['2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09'],
              dtype='datetime64[ns]', freq='D')

Specify end and periods, the number of periods (days).

In [17]:
pd.date_range(end='2/2/2019', periods=8)

DatetimeIndex(['2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29',
               '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-02'],
              dtype='datetime64[ns]', freq='D')

Specify start, end, and periods; the frequency is generated automatically (linearly spaced).

In [18]:
pd.date_range(start='2019-06-20', end='2019-04-25', periods=4)

DatetimeIndex(['2019-06-20 00:00:00', '2019-06-01 08:00:00',
               '2019-05-13 16:00:00', '2019-04-25 00:00:00'],
              dtype='datetime64[ns]', freq=None)

Changed the freq (frequency) to 'M' (month end frequency).

In [19]:
pd.date_range(start='2/2/2019', periods=6, freq='M')

DatetimeIndex(['2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31'],
              dtype='datetime64[ns]', freq='M')

Multiples are allowed

In [20]:
pd.date_range(start='2/2/2019', periods=6, freq='3M')

DatetimeIndex(['2019-02-28', '2019-05-31', '2019-08-31', '2019-11-30',
               '2020-02-29', '2020-05-31'],
              dtype='datetime64[ns]', freq='3M')

freq can also be specified as an Offset object.

In [21]:
pd.date_range(start='2/2/2019', periods=6, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-02-28', '2019-05-31', '2019-08-31', '2019-11-30',
               '2020-02-29', '2020-05-31'],
              dtype='datetime64[ns]', freq='3M')

Specify tz to set the timezone.

In [22]:
pd.date_range(start='2/2/2019', periods=6, tz='Asia/Tokyo')

DatetimeIndex(['2019-02-02 00:00:00+09:00', '2019-02-03 00:00:00+09:00',
               '2019-02-04 00:00:00+09:00', '2019-02-05 00:00:00+09:00',
               '2019-02-06 00:00:00+09:00', '2019-02-07 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')

`closed=` controls whether to include start and end that are on the boundary. The default includes boundary points on either end.

In [23]:
pd.date_range(start='2018-02-02', end='2018-02-05', closed=None)

DatetimeIndex(['2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05'], dtype='datetime64[ns]', freq='D')

Use closed='left' to exclude end if it falls on the boundary.

In [24]:
pd.date_range(start='2018-02-02', end='2018-02-05', closed='left')

DatetimeIndex(['2018-02-02', '2018-02-03', '2018-02-04'], dtype='datetime64[ns]', freq='D')

Use closed='right' to exclude start if it falls on the boundary.

In [25]:
pd.date_range(start='2018-02-02', end='2018-02-05', closed='right')

DatetimeIndex(['2018-02-03', '2018-02-04', '2018-02-05'], dtype='datetime64[ns]', freq='D')

<br>

### <span style="color:#130654">to_timedelta()</span>

`to_timedelta()` function is used to convert argument to datetime.

- Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds). 
- This method converts an argument from a recognized timedelta format / value into a Timedelta type.

using `to_timedelta()` can convert a scalar, array, list, or series from a recognized timedelta format/ value into a Timedelta type. It will construct Series if the input is a Series, a scalar if the input is scalar-like, otherwise will output a TimedeltaIndex.

*Syntax:*
```python
pandas.to_timedelta(arg, unit='ns', errors='raise')
```

|    Name    | Description                                                  | Type                                | Default | Required |
| :--------: | :----------------------------------------------------------- | :---------------------------------- | ------- | :------- |
|  **arg**   | The data to be converted to timedelta.                       | strtimedelta, list-like or Series   |         | Required |
|  **unit**  | Denotes the unit of the arg.                                 | str                                 | 'ns'    | Required |
| **errors** | 1. If ‘raise’, then invalid parsing will raise an exception.<br />2. If ‘coerce’, then invalid parsing will be set as NaT.<br />3. If ‘ignore’, then invalid parsing will return the input. | bool {‘ignore’, ‘raise’, ‘coerce’}, | 'raise' | Required |

*Return:*
> timedelta64 or numpy.array of timedelta64

In [7]:
pd.to_timedelta('2 days 04:06:10.00006')

Timedelta('2 days 04:06:10.000060')

In [8]:
pd.to_timedelta('20.5us')

Timedelta('0 days 00:00:00.000020')

Parsing a list or array of strings:

In [9]:
pd.to_timedelta(['2 days 04:06:10.00006', '15.5us', 'nan'])

TimedeltaIndex(['2 days 04:06:10.000060', '0 days 00:00:00.000015', NaT], dtype='timedelta64[ns]', freq=None)

Converting numbers by specifying the unit keyword argument:

In [10]:
pd.to_timedelta(np.arange(6), unit='s')

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04',
                '00:00:05'],
               dtype='timedelta64[ns]', freq=None)

<br>

### <span style="color:#130654">timedelta()</span>

Timedeltas are differences in times, expressed in difference units, for example, days, hours, minutes, seconds. They can be both positive and negative.

We can create Timedelta objects using various arguments:

1. String

By passing a string literal, we can create a timedelta object.

In [4]:
pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')

Timedelta('2 days 02:15:30')

2. Integer

By passing an integer value with the unit, an argument creates a Timedelta object.

In [5]:
pd.Timedelta(6,unit='h')

Timedelta('0 days 06:00:00')

3. Data Offsets

Data offsets such as - weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds can also be used in construction.

In [6]:
pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')